body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #1c2657;
  color: #c4d621;
  text-align: center;
}
header {
  border: 10px solid #7f56c2;
  border-style: inset;
  padding: 10px;
  margin: 20px auto;
  max-width: 650px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
header > h1 {
  color: #c4d621;
  text-align: center;
}
header > img {
  height: 125px;
  width: 125px;
  border-radius: 50%; 
  padding: 10px; 
}
#left-image {
  transform: scaleX(-1);
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}
#intro-img {
  height: 300px;
  width: 225px;
  margin: auto;
  border: 10px dotted #7f56c2;
  border-radius: 50%;
}
.intro > p {
  display: flex;
  justify-content: center; 
  color: #ecf3ab;
  background-color: #7f56c2;
  margin: 40px;
  padding: 30px;
  border: 5px solid #0bac3b;
}
.cocktail-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  
}
.cocktail-content > h3 {
  order:-1
}
.cocktail-content > img {
  max-height: 200px;
  object-fit: contain;
  border-radius: 20px;
  order: 0;
}
.cocktail-content > .measurements, .ingredients{
  display: flex;
  /* flex-direction: row; */
  justify-content: space-evenly;
  flex-flow: row-wrap;
  ;
}
.cocktail-content > .measurements {
  order: 1;
}
.cocktail-content > .ingredients {
  order: 2;
}
.cocktail-content > p {
  order: 3;
}

@media only screen and (min-width: 800px) {
  body {
    position: relative;
  }
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #7f56c2;
    font-size: 20px;
  }
  header > h1 {
    padding-top: 25px;
  }
  header > img {
    height: 125px;
    width: 125px;
  }

  .intro {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 350px;
    width: 700px;
  }
}
@media only screen and  (min-width: 600px) {
  .intro {
    display: flex;
    flex-direction: row;
    justify-content: center;
  
  
}

@media only screen and  (min-width: 488px) {
  header > h1 {
    padding-top: 20px;
  }
}



