body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #1c2657;
  color: #c4d621;
  text-align: center;
}
header {
  border: 10px solid #7f56c2;
  border-style: outset;
  padding: 10px;
  margin: 20px auto;
  max-width: 650px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
header > h1 {
  color: #c4d621;
  font-family: 'Reggae One', cursive;
  font-size: 35px;
  text-align: center;
}
header > img {
  height: 125px;
  width: 125px;
  border-radius: 50%; 
  padding: 10px; 
}
#left-image {
  transform: scaleX(-1);
}
.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}
#intro-img {
  height:350px;
  width: 240px;
  margin: auto;
  border: 10px dotted #7f56c2;
  border-radius: 50%;
}
.intro > p {
  display: flex;
  justify-content: center; 
  color: #1c2657;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  background-color: #f3f8ae;
  margin: 40px;
  padding: 30px;
  border: 10px double #055d1f;
}
#blank {
  font-family: 'Raleway', sans-serif;
  text-decoration: bold;
  height: 30px;
  border: 3px double #7f56c2;
}
#send {
  height:30px;
  width:70px;
}
.cocktail-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #c4d621;
}
h2 {
  font-family:'Reggae One', cursive;
  font-size: 30px;
}
.cocktail-content > h3 {
  font-family: 'Reggae One', cursive;
  text-decoration: underline;
  font-size: 20px;
  order:-1;
}
.cocktail-content > img {
  max-height: 300px;
  border: 10px  #055d1f;
  border-radius: 20%;
  margin: auto;
  order: 0;
}
.cocktail-content > .measurements {
  order: 1;
}
.cocktail-content > .ingredients {
  order: 2;
}
.cocktail-content > .recipe {
  order: 3; 
}
.ingredMeas {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-evenly;
}

.ingredMeas, #recipe {
  background:radial-gradient(#7f56c2,#1c2657);
  border: 5px solid #7f56c2;
  border-radius: 20%;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  color: #ecf3ab;
  width: 300px;
  margin: auto;
}

@media only screen and (min-width: 800px) {
  body {
    position: relative;
  }
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #7f56c2;
    font-size: 20px;
  }
  header > h1 {
    padding-top: 25px;
  }
  header > img {
    height: 125px;
    width: 125px;
  }
  .intro  {
    display: flex;
    flex-flow: row-wrap;
    justify-content: center;
    height: 425px;
    width: 700px;
    padding: 20px;
  }
  .cocktail-list  {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;

  }
}
@media only screen and (min-width: 600px) {
  .intro {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
@media only screen and  (min-width: 488px) {
  header > h1 {
    padding-top: 20px;
  }
}